<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>QuizUnicampiOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C234C7AA1BE0046B00A1CA0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C234C7BE1BE0046C00A1CA0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C234C7C91BE0046C00A1CA0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
